*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  text-align: center;
}
nav{
  background-color: blue;
  height: 100vh;
  width: 25%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
ul li{
  list-style: none;  
}
nav a {
  text-decoration: none;
  color: #EED6CD;
  cursor: pointer;
  font-size: 18px;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
}
a {
  display: inline-block;
  transition: transform 0.3s ease;
}
a:hover,
a:focus {
  transform: scale(1.2);
}
nav img{
  height: 150px;
  border-radius: 45%;
}
.sections{
  background-color: yellow;
  
  margin-left: 25%;
}
section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span{
  color: blue;
}
section h1{
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
}
.icons{
  font-size: 35px;
  color: blue;
}
@media (max-width:768px) {
  nav img{
    height: 90px;
  }
}
@media (max-width:468px){
  .section p{
    display: none;
  }
  nav a{
    font-size: small;
  }
}
